streamlit>=1.18.0
opencv-python-headless>=4.8.0  # OR use opencv-python>=4.8.0, but not both
numpy>=1.23
Pillow==8.3.2
moviepy==1.0.3
openvino==2024.3.0  # Ensure this matches the installed OpenVINO version
